.icon-angular::before {
  background-image: url('../iconos/icons8-angularjs-48.png');
}

.icon-java::before {
  background-image: url('../iconos/icons8-logotipo-de-java-coffee-cup-48.png');
}

.icon-php::before {
  background-image: url('../iconos/icons8-php-24.png');
}

.icon-spring-boot::before {
  background-image: url('../iconos/icons8-logotipo-de-primavera-48.png');
}

.icon-javascript::before{
  background-image: url('../iconos/icons8-javascript-48.png');
}

.icon-typescript::before {
  background-image: url('../iconos/icons8-typescript-48.png');
}

.icon-mysql::before {
  background-image: url('../iconos/icons8-logo-de-mysql-48.png');
}

.icon-oracle::before {
  background-image: url('../iconos/icons8-logo-de-oracle-48.png');
}

.icon-postgresql::before {
  background-image: url('../iconos/icons8-postgresql-48.png');
}

.icon-mongodb::before {
  background-image: url('../iconos/icons8-mongo-db-64.png');
}

.icon-css::before{
  background-image: url('../iconos/icons8-css-48.png');
}

.icon-html::before{
  background-image: url('../iconos/icons8-html-48.png');
}

.icon-jira::before {
  background-image: url('../iconos/icons8-jira-48.png');
}

.icon-gitlab::before{
  background-image: url('../iconos/icons8-gitlab-48.png');
}

.icon-jenkins::before{
  background-image: url('../iconos/jenkins_logo_icon_170552.png');
}

.icon-kibana::before{
  background-image: url('../iconos/free-elastic-1-283281.png');
}

.icon-monolitico::before {
  background-image: url('../iconos/monolitico.png');
}

.icon-microservicios::before {
  background-image: url('../iconos/microservicios.png');
}

.icon-sql::before {
  background-image: url('../iconos/icons8-sql-48.png');
}

.icon-maven::before {
  background-image: url('../iconos/maven.png');
}

.icon-ionic::before {
  background-image: url('../iconos/icons8-iónico-48.png');
}

.icon-primeng::before {
  background-image: url('../iconos/primeng-logo-dark.svg');
}

.icon-espana::before {
  background-image: url('../iconos/icons8-españa-48.png');
}

.icon-bootstrap::before {
  background-image: url('../iconos/bootstrap.png');
}

.icon-tailwindcss::before {
  background-image: url('../iconos/icons8-viento-de-cola-css-24.png');
}

.icon-gradle::before {
  background-image: url('../iconos/gradle.png');
}

.icon-docker::before {
  background-image: url('../iconos/icons8-docker-48.png');
}

.icon-reino-unido::before {
  background-image: url('../iconos/icons8-gran-bretaña-48.png');
}

.icon-experiencia::before {
  content: '';
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
}

.icon-24::before {
  width: 24px;
  height: 24px;
}

.icon-32::before {
  width: 32px;
  height: 32px;
}
